<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:tizen="http://tizen.org/ns/widgets"
  id="http://unilearn.local/usb"
  version="1.0.0"
  viewmodes="maximized">
  <name>Uni-Learn USB</name>
  <content src="index.html" />
  <feature name="http://tizen.org/feature/screen.size.all" />
  <tizen:application id="7f9u0WJ2fM.UniLearnUSB" package="7f9u0WJ2fM" required_version="5.5" />
  <tizen:profile name="tv" />
  <icon src="icon.png" />
</widget>
